class fifo_sequencer extends uvm_sequencer #(fifo_packet);

    `uvm_component_utils(fifo_sequencer)

    function new (string name, uvm_component parent);
        super.new(name, parent);
    endfunction

    virtual function void start_of_simulation_phase(uvm_phase phase);
        `uvm_info(get_type_name(), {"start of simulation phase", get_full_name()}, UVM_HIGH)
    endfunction

endclass